name: CD

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:


jobs:
  build-release:
    name: Build release binaries
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    #   - name: Install Qt (macOS)
    #     if: runner.os == 'macOS'
    #     run: brew update && brew install qt

    - name: Install Qt6 (Linux)
      if: runner.os == 'Linux'
      run: |
          sudo apt update
          sudo apt install -y qt6-base-dev qt6-base-dev-tools qt6-tools-dev build-essential cmake

    - name: Configure CMake
      run: cmake -S . -B build -DBUILD_GUI=ON -DCMAKE_BUILD_TYPE=Release

    - name: Build GUI
      if: runner.os == 'Linux'
      run: cmake --build build --target log-analyzer-gui --config Release

    - name: Build CLI
      run: cmake --build build --target log-analyzer-cli --config Release

    #   - name: Deploy GUI on macOS
    #     if: runner.os == 'macOS'
    #     run: |
    #       export PATH="/usr/local/opt/qt/bin:$PATH"

    #       gui_app=$(find build -name "log-analyzer-gui.app" -type d | head -n 1)
    #       macdeployqt "$gui_app"

    - name: Package artifacts
      run: |
          mkdir -p artifacts
          
           if [ "$RUNNER_OS" == "Linux" ]; then
                gui_path=$(find build -type f -name "log-analyzer-gui" | head -n 1)
                cp "$gui_path" artifacts/
           fi

          cli_path=$(find build -type f -name "log-analyzer-cli*" | head -n 1)
          cp "$cli_path" artifacts/

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: log-analyzer-${{ runner.os }}
        path: artifacts
