name: CI

on: [push, pull_request]

jobs:
  test-all-platforms:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    
    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v4
        
    - name: Build and Test
      shell: bash
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
          sudo apt-get update && sudo apt-get install -y cmake build-essential libgtest-dev
        fi

        cmake -B build
        cmake --build build
        cd build/tests
        ./test-runner